{% extends "base.html" %}

{% block title %}Decks - AMD{% endblock %}
{% block content %}
<section>
    <form hx-post="/add/untapped-decks" hx-target="body">
        <input type="text" name="html_doc" placeholder="HTML doc text">
        <button type="submit">Add Decks</button>
    </form>
</section>
<section>
    <ul>
        {% for deck in decks %}
        <li>
            <h3>{{ deck.name }}</h3>
            <button hx-get="/decks/{{ deck.id }}/cards" hx-target="#cards-{{ deck.id }}">Show Cards</button>
            <div id="cards-{{ deck.id }}"></div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}